<div class="header" id='main-header'>
    <div class='main-header-logo'>
        <div>
            <a href="/">
                <img src="/media/{{ Pic.Main.Logo.image }}">
            </a>
        </div>
        <div class="veritcal_sync">
            <div>
                <p>{{ Art.Main.Name1 }}</p>
                <p>{{ Art.Main.Name2 }}</p>
            </div>
        </div>
    </div>

    {% include "blocks/social-net.html" %}

    <div id="contacts" class="veritcal_sync">
        <div>
            <p>{{ Art.Main.Phone }}</p>
        </div>
    </div>
</div>