<div class="block" id='main'>
    <div class="bg">
        <img src="/media/{{ Pic.Main.Background.image }}">
    </div>

    <div id='main-content-header'>
        <h2>{{ Art.Main.Header_small }}</h2>
        <h1>{{ Art.Main.Header }}</h1>
    </div>

    <div id='main-content'>
         <div id="main-offer">
            {% for item in Art.Main.Offer %}
                <p>{{ item }}</p>
            {% endfor %}

            <div class="forms">
                <form name="subscription_form" method="post" action="/subscription/" onsubmit="return validate_form();">
                    {% csrf_token %}

                    <li >
                        {{ subscribtion_form.subject.errors }}
                        <label for="id_name">{{ subscribtion_form.name.label }}</label>
                        {{ subscribtion_form.name }}
                    </li>
                    <li >
                        {{ subscribtion_form.subject.errors }}
                        {{ subscribtion_form.email }}
                    </li>
                    <li >
                        {{ subscribtion_form.subject.errors }}
                        {{ subscribtion_form.phone }}
                    </li>
                    <li >
                        {{ subscribtion_form.phone.errors }}
                        <label>
                            {{ subscribtion_form.agreement }}
                            <span class="checkbox-custom"></span>
                            <span class="label">Принимаю <a id="five" class="agreement" href="#">соглашение пользователя</a></span>
                        </label>
                    </li>
                    <li >
                        <input type="submit" class="button " value="{{  Art.Buttons.Bid }}"/>
                    </li>
                </form>
            </div>
        </div>
    </div>
</div>

