<div class="social-net veritcal_sync">
    <div>
        <a href="{{Art.SocialNet.VK}}">
            <div><img class="sn-fir" src="/media/{{ Pic.SocialNet.VK1.image }}"></div>
            <div><img class="sn-sec" src="/media/{{ Pic.SocialNet.VK2.image }}"></div>
        </a>
        <a href="{{Art.SocialNet.INST}}">
            <div><img class="sn-fir" src="/media/{{ Pic.SocialNet.INST1.image }}"></div>
            <div><img class="sn-sec" src="/media/{{ Pic.SocialNet.INST2.image }}"></div>
        </a>
        <a href="{{Art.SocialNet.FB}}">
            <div><img class="sn-fir" src="/media/{{ Pic.SocialNet.FB1.image }}"></div>
            <div><img class="sn-sec" src="/media/{{ Pic.SocialNet.FB2.image }}"></div>
        </a>
        <a href="{{Art.SocialNet.UT}}">
            <div><img class="sn-fir" src="/media/{{ Pic.SocialNet.UT1.image }}"></div>
            <div><img class="sn-sec" src="/media/{{ Pic.SocialNet.UT2.image }}"></div>
        </a>
    </div>
</div>